footer{
    display: flex;
    background-color: orange;
    justify-content: space-between;
    padding: 10px;
}

#alinhamento{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#nav-footer{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
}

.link-rodape{
    border-radius: 30px;
    color: white;
    padding: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 5px;
    font-size: xx-larger; 
    
}

.icone-rede-social{
    width: 30px;
    margin: 10px;
    border-radius: 5px;
}

#redes-sociais{
    display: flex;
    align-items:flex-end;
}
#logo-rodape{
    width: 150px;
    border-radius: 1000px;
    padding: 30px;

}
#logo-copyright{
    width: 15px;
    height: 15px;
}
#dados-do-rodape{
    display: flex;
    align-items: center;
    justify-content: center;
}
#endereco{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: medium;
}

#passa-mouse:hover{
    border-radius: 5px;
    background-color: darkorange;
    font-size: x-large;  
    text-decoration: underline;
	 
}
a:link, a:visited {
	text-decoration: none
}

a:active {
    text-decoration: none
}

@media screen and (max-width: 752px) {
    
    footer{
        flex-direction: column;
    }
    #endereco{
        font-size: small;
    }
    #redes-sociais{
        justify-content: center;
    }
    
}